In [7]:
import json
import validators

from flask import Blueprint, jsonify, request
from werkzeug.security import check_password_hash, generate_password_hash
from src.util.mysqlUtil import *
from flask_jwt_extended import get_jwt_identity, jwt_required, create_access_token, create_refresh_token

In [ ]:
# # database create test
# createDatabase(getDBServer(), "envTestDatabase")
#
# # database drop test
# dropDatabase(getDBServer(), "envTestDatabase")
#
# # table create test
# createTableSpecified(getDB(), "customers2", ["id INT AUTO_INCREMENT PRIMARY KEY",
#                                              "name VARCHAR(255)",
#                                              "address VARCHAR(255)"])
#
# # table drop test
# dropTable(getDB(), "customers2")
#
# # insert test
# keyTupleDemo = ("name", "address")
# valueTupleListDemo = [
#     ('Peter', 'Lowstreet 4'),
#     ('Amy', 'Apple st 652'),
#     ('Hannah', 'Mountain 21'),
#     ('Michael', 'Valley 345'),
#     ('Sandy', 'Ocean blvd 2'),
#     ('Betty', 'Green Grass 1'),
#     ('Richard', 'Sky st 331'),
#     ('Susan', 'One way 98'),
#     ('Vicky', 'Yellow Garden 2'),
#     ('Ben', 'Park Lane 38'),
#     ('William', 'Central st 954'),
#     ('Chuck', 'Main Road 989'),
#     ('Viola', 'Sideway 1633')
# ]
# createTableSpecified(getDB(), "customers", ["id INT AUTO_INCREMENT PRIMARY KEY",
#                                              "name VARCHAR(255)",
#                                              "address VARCHAR(255)"])
# insertRows(getDB(), "customers", keyTupleDemo, valueTupleListDemo)

In [1]:
"""
Postman Operation
"""

# @app.route('/test/list_json', methods=['GET'])
# def test_list_json():
#     listTest = [
#         {'a': 1, 'b': 2},
#         {'a': 5, 'b': 10}
#     ]
#     return jsonify({'list': listTest})
#
#
# @app.route('/test/json', methods=['GET'])
# def test_json():
#     jsonTest = {'a': 1, 'b': 2}
#     return jsonify(jsonTest)
#
#
# @app.route('/test/post', methods=['POST'])
# def test_post():
#     if request.method == "POST":
#         name = request.json['name']
#         return jsonify({'name': name})
#     return {}


"""
Visualized Operation
"""

# @app.route('/data/create', methods=['GET', 'POST'])
# def create():
#     if request.method == 'GET':
#         return render_template('createpage.html')
#
#     if request.method == 'POST':
#         name = request.form['name']
#         address = request.form['address']
#
#         # insert page query
#         insertRows(getDB(), "customers", ("name", "address"), [(name, address)])
#         return redirect('/data')
#
#
# @app.route('/data')
# def RetrieveList():
#     # select pages query
#     dictCustomers = dbSelect(getDB(), "SELECT name, address FROM customers")
#     return render_template('datalist.html', employees=dictCustomers)
#
#
# @app.route('/data/<int:id>')
# def RetrieveEmployee(id):
#     # select page query
#     employee = dbSelect(getDB(), "SELECT * FROM customers WHERE id = " + str(id))
#     if len(employee):
#         return render_template('data.html', employee=employee[0])
#     return f"Employee with id ={id} Doenst exist"
#
#
# @app.route('/data/<int:id>/update', methods=['GET', 'POST'])
# def update(id):
#     # select page query
#     employee = dbSelect(getDB(), "SELECT * FROM customers WHERE id = " + str(id))
#     if request.method == 'POST':
#         if len(employee):
#             name = request.form['name']
#             address = request.form['address']
#             # update page query
#             dbUpdate(getDB(),
#                      "UPDATE customers SET name = '" + name + "', address = '" + address + "' WHERE id = " + str(id))
#             return redirect(f'/data/{id}')
#         return f"Employee with id = {id} Does nit exist"
#
#     return render_template('update.html', employee=employee[0])
#
#
# @app.route('/data/<int:id>/delete', methods=['GET', 'POST'])
# def delete(id):
#     # select page query
#     employee = dbSelect(getDB(), "SELECT * FROM customers WHERE id = " + str(id))
#     if request.method == 'POST':
#         if employee:
#             # delete page query
#             dbDelete(getDB(), "DELETE FROM customers WHERE id = " + str(id))
#             return redirect('/data')
#         abort(404)
#
#     return render_template('delete.html')

In [10]:
host="localhost"
user="root"
password="?Aa13552676625"
database="envTestMark2"
db = mysql.connector.connect(host=host, user=user, password=password, database=database)

In [11]:
customers = dbSelect(db, "SELECT * FROM customers")

12 record(s) selected

In [12]:
customers

[(1, 'Peter', 'Lowstreet 4'),
 (2, 'Amy', 'Apple st 652'),
 (3, 'Hannah', 'Mountain 21'),
 (4, 'Michael', 'Valley 345'),
 (5, 'Sandy', 'Ocean blvd 2'),
 (6, 'Betty', 'Green Grass 1'),
 (7, 'Richard', 'Sky st 331'),
 (8, 'Susan', 'One way 98'),
 (9, 'Vicky', 'Yellow Garden 2'),
 (10, 'Ben', 'Park Lane 38'),
 (11, 'Rance', 'ABeckStreet'),
 (16, 'QiLi', 'McDo')]